.App {
  /* text-align: center; */
  background-color: lemonchiffon;
}

header, h2 ,.recipe-name ,.recipe-display {
  text-align: center;
}

a:link {
  padding-left: 5%;
  padding-right: 5%;
}

a:visited{
  color: pink;
  
}

.recipe {
  height: 85vh
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5% 5%;
}

#ingredients {
  height: 25vh;
  width: 95%
}

.instructions {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
}

#instructions {
  width: 90%;
  height: 25vh;
  text-align: start;
  
}